@using MusicBox.Areas.Admin.Models.Albums
@model DeleteAlbumsViewModel

@{
    ViewBag.Title = "Delete album";
}

<h2>Delete album: @Model.Artist.Title - "@Model.Title"</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />

    <div class="col-md-10 mb-3">
        <img src=@Url.Action("RenderImage", new { id = Model.Id }) alt='' height=150 width=150 />   
    </div>

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </dt>

        <dd>
            @Model.DateOfCreation.ToString("d")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.Title)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Id)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to Albums", "Index")
        </div>
    }
</div>

