@using MusicBox.Areas.Admin.Models.Tracks
@model CreateTracksViewModel

@{
    ViewBag.Title = "Create track";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Track", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

<div class="form-horizontal">
    <h4>Track</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Artist, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Artist, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AlbumId, "Album", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.AlbumId, Model.SelectListAlbums, "Please select", htmlAttributes: new { @class = "form-control" })
            @*@Html.ValidationMessageFor(model => model.AlbumId, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GenreId, "Genre", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.GenreId, Model.SelectListGenres, "Please select", htmlAttributes: new { @class = "form-control" })
            @*@Html.ValidationMessageFor(model => model.GenreId, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MoodId, "Mood", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.MoodId, Model.SelectListMoods, "Please select", htmlAttributes: new { @class = "form-control" })
            @*@Html.ValidationMessageFor(model => model.MoodId, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UploadTrack, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <input id="Track" name="UploadTrack" type="file" accept="audio/*" required> 
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@*@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
    }*@