@using MusicBox.Areas.Admin.Models.Tracks
@model DeleteTracksViewModel

@{
    ViewBag.Title = "Delete track";
}

<h2>Delete track @Model.Artist - "@Model.Album" - "@Model.Title"</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.LabelFor(model => model.Artist, "Track artist")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Album, "Track album")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CountOfCalls, "Track count")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountOfCalls)
        </dd>

        <dt>
            @Html.LabelFor(model => model.DateOfCreation, "Track date of creation")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfCreation)
        </dd>

        <dt>
            @Html.LabelFor(model => model.DurationSong, "Track duration")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationSong)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Genre, "Track genre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Mood, "Track mood")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mood)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Id)

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to Tracks", "Index")
        </div>
    }
</div>

