@model MusicBox.Areas.Admin.Models.Tracks.DetailsTracksViewModel

<div>
    <h4>Track:  @Model.Artist - "@Model.Album" - "@Model.Title"</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.LabelFor(model => model.DateOfCreation, "Track date of creation")
        </dt>

        <dd>
            @Model.DateOfCreation.ToString("d")
        </dd>

        <dt>
            @Html.LabelFor(model => model.DurationSong, "Track duration")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationSong)
        </dd>

        <dt>
            @Html.LabelFor(model => model.CountOfCalls, "Track count")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountOfCalls)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Artist, "Track artist")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Album, "Track album")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Mood, "Track mood")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mood)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Genre, "Track genre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Tracks", "Index")
</p>
