@using MusicBox.Areas.Admin.Models.Tracks

@model EditTracksViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit track: @Model.Title </h2>

<link href="~/Content/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


<script type="text/javascript">

        $(function () {

            $("#Artist").on("blur", function () {
                let artistTitle = $("#Artist").val();

                if (artistTitle == "") {
                    $("#AlbumId option:gt(0)").remove();
                    $('#AlbumId').prop('disabled', true);
                    $("#Link").empty();

                }
                else {
                    $.ajax({
                        method: "POST",
                        url: "/Admin/Album/GetAlbumsForArtist",
                        data: { artist: artistTitle }
                    })
                        .done(function (albums) {
                            if (albums.Item2) {
                                if (albums.Item1.length == 0) {

                                    ShowLinkForCreationAlbum();
                                }
                                else {
                                    AddDropdownListForAlbum(albums);
                                }
                            }
                            else {
                                ShowLinkForCreationArtist();
                            }

                        });
                }
            });


        });

    function AddDropdownListForAlbum(albums) {
        $("#AlbumId option:gt(0)").remove();
        for (var i = 0; i < albums.Item1.length; i++) {
            $('#AlbumId').append('<option value=' + albums.Item1[i].Id + '>' + albums.Item1[i].Title + '</option>');
        }
        $('#AlbumId').prop('disabled', false);
        $("#Link").empty();

    };

    function ShowLinkForCreationArtist() {
        $("#Link").empty();
        $("#Link").append('<p> <font color="red"> This artist does not exist. </font > </p>')
            .append('Create <a href="/Admin/Artist/Create">artist</a>');
        $("#AlbumId option:gt(0)").remove();
        $('#AlbumId').prop('disabled', true);

    };

    function ShowLinkForCreationAlbum() {
        $("#Link").empty();
        $("#Link").append('<p> <font color="red"> This artist has no albums. </font > </p>')
            .append('Create <a href="/Admin/Album/Create">album</a>');
        $("#AlbumId option:gt(0)").remove();
        $('#AlbumId').prop('disabled', true);

        };

</script>


@using (Html.BeginForm("Edit", "Track", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artist, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Artist, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group" >
            <div class="col-md-10" id="Link">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlbumId, "Album", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AlbumId, Model.SelectListAlbums, "Please select", htmlAttributes: new { @class = "form-control" })

                @*@Html.ValidationMessageFor(model => model.AlbumId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GenreId, "Genre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.GenreId, Model.SelectListGenres, "Please select", htmlAttributes: new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.GenreId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoodId, "Mood", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MoodId, Model.SelectListMoods, "Please select", htmlAttributes: new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.MoodId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UploadTrack, "Change track...", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <input id="Track" name="UploadTrack" type="file" accept="audio/*" >
            </div>
        </div>

        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
