@using MusicBox.Areas.Admin.Models.Artists
@model DetailsArtistsViewModel

@{
    ViewBag.Title = "Artist details";
}

<h2> Artist details: @Model.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <div class="col-md-10">
            <img src=@Url.Action("RenderImage", new { id = Model.Id }) alt='' height=150 width=150 />   @* todo добавить mergen (оступ от картинки)*@
        </div>

        <dt>
            @Html.LabelFor(model => model.Title, "Artist title")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>

</div>

@{
    Html.RenderPartial("PartialForDetailsAlbums", Model.Albums);
}

@{
    Html.RenderPartial("PartialForDetailsTracks", Model.Tracks);
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Artists", "Index")
</p>
