@using MusicBox.Domain.Models.Entities
@using System.Collections.Generic

@model IEnumerable<Track>

<h3>All tracks: </h3>

<table class="table">
    <tr>
        <th>
            @Html.Label("Track title")
        </th>
        <th>
            @Html.Label("Track mood")
        </th>
        <th>
            @Html.Label("Track genre")
        </th>
        <th>
            @Html.Label("Track duration")
        </th>
        <th>
            @Html.Label("Track date of creation")
        </th>
        <th>
            @Html.Label("Track count")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mood.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationSong)
            </td>
            <td>
                @item.DateOfCreation.ToString("d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackStatistics.CountOfCalls) @*todo don't work*@
            </td>
        </tr>
    }
</table>